/*=============================================================================*
 * Global
 *=============================================================================*/

body {

    font-family: Arial, sans-serif;

    background: #111827;
    color: #f9fafb;

    margin: 0;
    padding: 20px;

}


/*=============================================================================*
 * Header
 *=============================================================================*/

.header {

    display: flex;
    align-items: center;

    max-width: 600px;
    margin: 0 auto 30px auto;

}


.header h1 {

    margin: 0;

}


/*=============================================================================*
 * Menu Button
 *=============================================================================*/

.menu-button {

    width: 40px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 5px;

    margin-right: 12px;
    padding: 8px;

    background: transparent;
    border: blue;

    cursor: pointer;

}


.menu-button span {

    display: block;

    width: 24px;
    height: 2px;

    background: #f9fafb;

    border-radius: 2px;

}


/*=============================================================================*
 * Main Content
 *=============================================================================*/

.container {

    max-width: 600px;
    margin: 0 auto;

}


.subtitle {

    color: #9ca3af;

}

.menu {

    max-width: 600px;
    margin: 0 auto 30px auto; 
    background: #1f2937;

    border-radius: 10px; 

    padding: 10px 0; 

}

.menu a { 

    display: block;

    padding: 12px 20px; 

    color: #f9fafb; 
    
    text-decoration: none;

}

.menu a:hover { 

    background-color: #374151;

}
